video {
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    z-index: 100;
}

.video_title {
    z-index: 100000;
}

h2 {
    color: #e5e5e5;
}

.slider ul li {
    list-style-type:none;
}